@import "../../styles/variables.less";

.co-select {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: @vertical-align-base;
}

.co-select__clear {
  &:extend(.co-input__icon);
  z-index: 1;

  & .co-icon {
    &:extend(.co-input__icon .co-icon);
  }

  &:hover + .co-input .co-input__input {
    border-color: @input-hover-border-color;
  }
}

.co-select__all {
  &:extend(.co-select__clear);
  left: 0;

  & .co-icon {
    width: 15px;
    height: 16px;
    margin-top: 5px;
    stroke: #909fa8;
  }  
}

.co-select__trigger {
  & input {
    cursor: pointer;
  }

  & .co-input__icon {
    & .co-icon {
      transition: transform .2s linear;
    }

    &:hover .co-icon {
      stroke: @input-icon-color;
    }
  }
}

.co-select__input {
  vertical-align: inherit;

  &.co-select-all__input {
    .co-input__input {
      padding-left: 26px;
    }
  }
}

.co-select__dropdown {
  &:extend(.co-dropdown__wrapper);
  max-height: 200px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track-piece {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-clip: padding-box;
    background-color: #d6d6d6;

    &:hover {
      border-width: 2px;
      background-color: #999;
    }
  }
}

.co-select__list {
  &:extend(.co-dropdown__menu);
  min-width: initial;
  overflow: auto;
}

// 尺寸
.co-select--small {
  .co-select__clear {
    &:extend(.co-input--small .co-input__icon);

    .co-icon {
      &:extend(.co-input--small .co-input__icon .co-icon);
    }
  }
}

.co-select--large {
  .co-select__clear {
    &:extend(.co-input--large .co-input__icon);

    .co-icon {
      &:extend(.co-input--large .co-input__icon .co-icon);
    }
  }
}

// 获取焦点
.co-select--open .co-input__icon .co-icon {
  transform: rotate(180deg);
}
